<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">

<body id="resultsBody">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <div id="holder">

        <% if (user) { %>
            <h1><%= user.firstName %>'s Personal Itinerary</h1>
            <h2>Click Each Location To Find Out More Information</h2>
        <% } %>

        <div id="leftSide">
            <div id="map"></div>

            <script>
                
                

                let loc = localStorage.getItem('location');
                

                //Belize 17.1899 N 88.4976 W
                //Brazil 14.2350 S 51.9253 W
                //England 52.355 N 1.1743 W
                //Italy 41.8719 N 12.5675 E
                //Japan 36.2048 N 138.2529 E
                //Country Latitude Longitude N(+) S(-) E(+) W(-)

                let startLat = 0;
                let startLon = 0;

                switch(loc) {
                    case 'Belize': startLat = 17.1899; startLon = -88.4976; break;
                    case 'Brazil': startLat = -14.2350; startLon = -51.9253; break;
                    case 'Japan': startLat = 36.2048; startLon = 138.2529; break;
                    case 'Italy': startLat = 41.8719; startLon = 12.5675; break;
                    case 'England': startLat = 52.355; startLon = -1.1743; break;
                    default: break;
                }

                
    
                 var attribution = new ol.control.Attribution({
                    collapsible: false
                });
    
                var map = new ol.Map({
                    controls: ol.control.defaults({attribution: false}).extend([attribution]),
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    target: 'map',
                    view: new ol.View({
                        center: ol.proj.fromLonLat([startLon, startLat]),
                        maxZoom: 18,
                        zoom: 5
                    })
                });
            </script>

            <div id="popup" class="ol-popup" style="font-size: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <div id="popup-content"></div>
            </div>
            <input type="button" value="Download Itineray As PDF" id="download">
        </div>


        <div id="rightSide">
            <ul style="list-style: none">
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion1.EXCURSION %></b><p><%= itinerary.excursion1.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion2.EXCURSION %></b><p><%= itinerary.excursion2.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion3.EXCURSION %></b><p><%= itinerary.excursion3.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion4.EXCURSION %></b><p><%= itinerary.excursion4.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion5.EXCURSION %></b><p><%= itinerary.excursion5.DESCR %></p></li>
            </ul>
        </div>


    </div>
    

    

</body>

<%- include('../partials/footer.ejs')%>
