<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">

<body id="resultsBody">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <div id="holder">

        <% if (user) { %>
            <h1><%= user.firstName %>'s Personal Itinerary</h1>
            <h2>Click Each Location To Find Out More Information</h2>
        <% } %>

        <div id="leftSide">
            <div id="map"></div>

            <div id="exc1" class="ol-popup" style="font-size: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <div id="exc1-content"></div>
            </div>

            <div id="exc2" class="ol-popup" style="font-size: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <div id="exc2-content"></div>
            </div>
            

            
               
            <input type="button" value="Download Itineray As PDF" id="download" onclick="download('Itinerary.txt','This will download the file');">
        </div>


        <div id="rightSide">
            <ul style="list-style: none">
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion1.EXCURSION %></b><p><%= itinerary.excursion1.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion2.EXCURSION %></b><p><%= itinerary.excursion2.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion3.EXCURSION %></b><p><%= itinerary.excursion3.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion4.EXCURSION %></b><p><%= itinerary.excursion4.DESCR %></p></li>
                <li class="listExc"><img src="" class="resultsImg"><b><%= itinerary.excursion5.EXCURSION %></b><p><%= itinerary.excursion5.DESCR %></p></li>
            </ul>
        </div>


            <script>
                
                

                let loc = localStorage.getItem('location');
                

                //Belize 17.1899 N 88.4976 W
                //Brazil 14.2350 S 51.9253 W
                //England 52.355 N 1.1743 W
                //Italy 41.8719 N 12.5675 E
                //Japan 36.2048 N 138.2529 E
                //Country Latitude Longitude N(+) S(-) E(+) W(-)

                let startLat = 0;
                let startLon = 0;
                let zoomNum = 5;

                switch(loc) {
                    case 'Belize': startLat = 17.1899; startLon = -88.4976; zoomNum = 8; break;
                    case 'Brazil': startLat = -14.2350; startLon = -51.9253; break;
                    case 'Japan': startLat = 36.2048; startLon = 138.2529; break;
                    case 'Italy': startLat = 41.8719; startLon = 12.5675; break;
                    case 'England': startLat = 52.355; startLon = -1.1743; break;
                    default: break;
                }

                
    
                 var attribution = new ol.control.Attribution({
                    collapsible: false
                });
    
                var map = new ol.Map({
                    controls: ol.control.defaults({attribution: false}).extend([attribution]),
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    target: 'map',
                    view: new ol.View({
                        center: ol.proj.fromLonLat([startLon, startLat]),
                        maxZoom: 18,
                        zoom: zoomNum
                    })
                });
                
                //this adds a new marker will need 5 of these
                var exc1Lat = parseFloat('<%= itinerary.excursion1.LAT %>');
                var exc1Long = parseFloat('<%= itinerary.excursion1.LONGIT %>');
                var exc2Lat = parseFloat('<%= itinerary.excursion2.LAT %>');
                var exc2Long = parseFloat('<%= itinerary.excursion2.LONGIT %>');
                var exc3Lat = parseFloat('<%= itinerary.excursion3.LAT %>');
                var exc3Long = parseFloat('<%= itinerary.excursion3.LONGIT %>');
                var exc4Lat = parseFloat('<%= itinerary.excursion4.LAT %>');
                var exc4Long = parseFloat('<%= itinerary.excursion4.LONGIT %>');
                var exc5Lat = parseFloat('<%= itinerary.excursion5.LAT %>');
                var exc5Long = parseFloat('<%= itinerary.excursion5.LONGIT %>');

                var points = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [
                            new ol.Feature({
                                geometry: new ol.geom.Point(ol.proj.fromLonLat([exc1Long, exc1Lat]))
                            }), 
                            new ol.Feature({
                                geometry: new ol.geom.Point(ol.proj.fromLonLat([exc2Long, exc2Lat]))
                            }),
                            new ol.Feature({
                                geometry: new ol.geom.Point(ol.proj.fromLonLat([exc3Long, exc3Lat]))
                            }), 
                            new ol.Feature({
                                geometry: new ol.geom.Point(ol.proj.fromLonLat([exc4Long, exc4Lat]))
                            }), 
                            new ol.Feature({
                                geometry: new ol.geom.Point(ol.proj.fromLonLat([exc5Long, exc5Lat]))
                            })
                        ]
                    })
                });

        
                map.addLayer(points);

                var container = document.getElementById('exc1');
                document.getElementById('exc1-content').innerHTML = '<b><%= itinerary.excursion1.EXCURSION %></b>';
       
                var overlay1 = new ol.Overlay({
                    element: container,
                    autoPan: true,
                    autoPanAnimation: {
                        duration: 250
                    }
                });
                map.addOverlay(overlay1);
                overlay1.setPosition(ol.proj.fromLonLat([exc1Long, exc1Lat]));
                



                
                
            </script>

         

    </div>
    

    

</body>

<%- include('../partials/footer.ejs')%>
